@import 'tailwindcss';
@import "leaflet/dist/leaflet.css";

@theme {
    --color-background-100: #f0f4fa;
    --color-background-200: #e0e9f5;
	--color-primary-400: #22c55e;
	--color-primary-500: #1eae53;
	--color-primary-600: #188c42;
}